<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Diego Fuentes. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <section id="barra-de-busqueda">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Buscar:</mat-label>
        <input matInput #message maxlength="256" placeholder="Ej: Gatitos" [formControl]="aBuscar">
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        <button mat-raised-button color="primary" (click)="buscar()"> Buscar!</button>
      </mat-form-field>
    </form>

  </section>
  <section id="visualizar">
    <div *ngFor="let img of misImagenes;let i=index" class="divs" style="display:inline-block">
      
      <img class="imagen" [src]="img.urls.regular" (click)="open(i)"/>
    </div>
  </section>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * Diego Fuentes * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
