.example-form {
  min-width: 150px;
  max-width: 500px;
  margin: 0 auto;
}

.example-full-width {
  width: 100%;
}
#barra-de-busqueda{
    width:100%;
}
.imagen {
  max-width: 410px;
  height: 300px;
}
.divs{
    margin:1rem;
}
.imagen:hover {
  transform: scale(1.05);
  transition-duration: .3s;
}
#visualizar{
    text-align:center;
}
.mat-form-field-infix{
    padding:0;
}
button{
    float:right;
}
input{
    font-size:x-large;
    margin-top:.2em;
    width:70%
}
